<!DOCTYPE html>
<html>
    <body>
        <div id="root">
        <!--FROM-->
        <select onchange="parseJson(value)">
          <option v-for="data in message">{{data}}</option>
          
        </select>
        <!--AMOUNT-->
        <input type="text" v-model="amount">
        <!--TO-->
        <select>
          <option v-for="data in message">{{data}}</option>
          
        </select>
        <!--CONVERTED AMOUNT-->
        <p>The value of the input is: {{ amount }}.</p>
        <!--RATES-->
        <p>Rates</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>
