<!DOCTYPE html>
<html>
    <head>
        <title>Currency Exchange</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            /*global $*/
            $(function(){
              $("#header").load("header.html"); 
              $("#footer").load("footer.html"); 
              console.log("HERE");
            });
        </script> 
    </head>
    <div class=w3-container>
        <div id="header"></div>
    </div>
    <body>
        <div class=w3-container>
            <div id="root">
                <div class=w3-container>
                    
                    <!--FROM-->
                    <input list="from" onInput="parseJson(value)">
                    <datalist id="from">
                      <option v-for="data in message">{{data}}</option>
                    </datalist>
                    <!--AMOUNT-->
                    <input type="text" v-model="amount">
                
                    <!--TO-->
                    <input list="to">
                    <datalist id="to">
                      <option v-for="data in message">{{data}}</option>
                    </datalist>
                </div>
                <div class=w3-container>
                    <!--CONVERTED AMOUNT-->
                    <p>The value of the input is: {{ amount }}.</p>
                </div>
                <!--RATES-->
                <div class=w3-container>
                    <p>Rates</p>
                    <p>1.00 {{message[0]}} Equals:</p>
                    <p>
                        <ul>
                            <!--<template v-for="name in message">-->
                            <li v-for="(data, name, index) in rate" v-if="index != 0">{{data}} : {{name}}</li>
                            <!--</template>-->
                        </ul>
                    </p>
            </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
    <div class=w3-container>
    <div id="footer"></div>
    </div>
</html>
