.w3-card#title{
    font-size: 2em;
    font-weight: bold;
    text-align: center !important;
    display: inline;
    padding-left: 1.2em;
    padding-right: 1.3em;
}
.w3-card#rates{
    max-height: 20em;
    overflow-y: scroll;
    text-decoration: none !important;
}
.w3-container#rates{
    overflow: hidden;
    text-align: center;
    text-decoration: underline;
}
.w3-card{
    margin:.4em;
    padding: .3em;
    background-color: white;
    overflow-x:auto;
}
.w3-container{
    background-color: lightblue;
}
.w3-container#title{
    margin-top: .2em;
    background-color: darkblue;
    text-align:center;
}
.w3-container#white{
    background-color: transparent;
    padding: 0;
    display: inline;
}
body{
    background-color: black;
}
table{
    text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
input{
    max-width: 50%;
    margin: 0;
    padding: 0;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}
.w3-container#footer{
    background-color: lightgray;
}
@media only screen and (max-width: 40em) {
    thead th {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
        font-weight: bold;
    }
    table{
        text-align: left !important;
    }
    .w3-card{
    font-size: smaller !important;
    }
    .w3-card#title{
    font-size: larger !important;
    }
}
.navbar-toggler{
    float: right;
    margin:0!important;
    margin-top: .5em;
    padding: 0!important;
}
.navbar-brand{
    float: left;
    margin:0!important;
    margin-top: 5em;
    padding: 0!important;
}
#header{
    background-color: darkblue;
}
html{
    background-color: darkblue;
}